body {
  margin: 0;
  background-image: url('https://raw.githubusercontent.com/Tzu-Yu-Lin/Tzu-Yu-Lin.github.io/refs/heads/main/images.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
  text-align: left;
  font-size: 23px;
  font-family: 'Helvetica', Arial, sans-serif;
  p{margin-bottom: 1px;}
  img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
            border-radius: 10px;
        }
   h1, h2 {
            color: #333;
        }
}
